body {
    background-color: #101010;
    text-align: center;
    font-family: 'Open Sans', sans-serif;}

h1.name{
    color: #62DC8D; 
    font-family: 'Alegreya', serif;}

h1 {
    color: #62DC8D;}

p {
    color: white;}

div {
    margin: 2% auto; 
    float: none; 
    text-align: left;
    color: white;
    border-width: 3px;
    border-radius: 50px;
    border-color: gray;
    width: 50%;
    border-style: solid;
    padding: 25px;
    background-color: rgb(44, 44, 44);}

h2 {
    max-width: 1080px; 
    margin: 2% auto; 
    float: none; 
    text-align: left;
    color: white;}

a:link {
    color: white;
    text-decoration-color: #62DC8D;}

a:visited {
    color: white;
    text-decoration-color: gray;}

a:hover, a:active {
    color: white;
    text-decoration-color: white;}

nav {
    position: static;}

/*
TODO: 
~ design images: background, header/footer, aside?

~ h.name larger size (doesn't work mobile)

~ work on the mobile version
*/
